### Unit 13 - 18

In [3]:
# Unit 13
price = int(input())
coupon = input()

if coupon == 'Cash3000':
    price -= 3000
if coupon == 'Cash5000':
    price -= 5000
print(price)

24000

In [4]:
# Unit 14
kor, eng, mat, sci = map(int, input().split())
average = (kor+eng+mat+sci)/4

if kor>100 or eng>100 or mat>100 or sci>100:
    print('잘못된 점수')
else:
    if average >= 80:
        print('합격')
    if average < 80:
        print('불합격')

잘못된 점수

In [7]:
# Unit 15
age = int(input())
balance = 9000    # 교통카드 잔액

if 7 <= age <= 12:
    balance -= 650
    print(balance)
elif 13 <= age <= 18:
    balance -= 1050
    print(balance)
else:
    balance -= 1250
    print(balance)

8350

In [8]:
# Unit 16
num = int(input('정수 입력'))

for i in range(1, 10):
    print(f'{num} * {i} = {num*i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [16]:
# Unit 17
wallet = int(input())

while wallet > 0:
    wallet -= 1350
    if wallet < 0:
        break
    else:
        print(wallet)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [1]:
# Unit 18
start, stop = map(int, input().split())

i = start

while True:
    if i > stop:
        break
    if i%10 == 3:
        i += 1
        continue
    
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20