### 여러개의 입력값 처리

In [1]:
a = 'red green blue'
a.split()

['red', 'green', 'blue']

In [2]:
b = 'red,green,blue'
b.split(',') # ,를 기준으로 띄우기

['red', 'green', 'blue']

In [3]:
string = input('빛의 3원색을 빈칸으로 구분하여 입력하세요.')
string

'빨강 초록 파랑'

In [4]:
r, g, b = string.split()
r, g, b

('빨강', '초록', '파랑')

In [5]:
numbers = ['3.1', '2.4', '8.5']
list(map(float, numbers))

[3.1, 2.4, 8.5]

In [7]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [8]:
string = input('실수 3개를 빈칸으로 구분하여 입력하세요.')
string

'3.1 2.4 8.5'

In [9]:
list(map(float, input('실수 세개 입력').split()))

[3.1, 2.4, 8.5]

In [10]:
x, y, z = [3.1, 2.4, 8.5]
x, y, z

(3.1, 2.4, 8.5)

In [11]:
x, y, z = list(map(float, input('실수 세개 입력').split()))
x, y, z

(3.14, 1.414, 2.718)

In [12]:
x, y, z = map(float, input('실수 세개 입력').split())   #list()는 굳이 안 써도 된다.
x, y, z

(1.0, 2.0, 3.0)

### range - sequence 자료형

In [1]:
# 하나만 있으면 0에서부터 끝값+1
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
# 1 ~ 10
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# 1 ~ 10, 홀수
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [11]:
# 10 ~ 1, 짝수
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

#### 두개의 정수를 입력받아서 첫번째 값에서부터 두번째 값까지 출력
단, 두 번째 값이 첫번째 값보다 큼

In [1]:
a, b = map(int, input('두개의 정수 입력하세요').split())
a, b

(5, 10)

In [2]:
print(list(range(a, b+1)))

[5, 6, 7, 8, 9, 10]

In [ ]:
a, b = map(int, input().string())