#### 1. 씨저 암호

In [22]:
# 풀이
def encode(plain, n):
    cipher = ''
    for c in plain:
        diff = ord(c) - ord('A') + n
        if diff >= 26:
            cipher += chr(ord('A') + diff % 26)
        else:
            cipher += chr(ord(c) + n)
    return cipher

In [23]:
def decode(cipher, n):
    plain = ''
    for c in cipher:
        diff = ord(c) - ord('A') - n
        if diff < 0:
            plain += chr(ord('Z') + diff + 1)
        else:
            plain += chr(ord(c) - n)
    return plain

In [24]:
decode(encode('ABCXYZ', 3), 3)

'ABCXYZ'

In [27]:
word, n = input('String N 입력').split()
cipher = encode(word.upper(), int(n))
plain = decode(cipher, int(n))
print(f'입력값 {word}, {n}에 대한 암호는 {cipher} 해독하면 {plain}')

입력값 qwerty, 5에 대한 암호는 VBJWYD 해독하면 QWERTY

#### 2. Unit 24 심사문제 - 1

In [5]:
# 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요 ('the'만)
the_string = input('입력').split()
count = 0

for i in the_string:
    if (i.strip(',.') == 'the'):
        count += 1
print(count)

6

In [28]:
# 풀이
text = input('입력')
text

"the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the."

In [29]:
import re
text = re.sub('[\'.,\n]', '', text)
text

'the grown-ups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grown-ups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [30]:
text = re.sub('[^A-Za-z ]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [31]:
from string import punctuation
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
text = re.sub('[^A-Za-z]', '', text)
text

'thegrownupsresponsethistimewastoadvisemetolayasidemydrawingsofboaconstrictorswhetherfromtheinsideortheoutsideanddevotemyselfinsteadtogeographyhistoryarithmeticandgrammarThatiswhyattheageofsixIgaveupwhatmighthavebeenamagnificentcareerasapainterIhadbeendisheartenedbythefailureofmyDrawingNumberOneandmyDrawingNumberTwoGrownupsneverunderstandanythingbythemselvesanditistiresomeforchildrentobealwaysandforeverexplainingthingstothe'

In [32]:
text_list = text.lower().strip().split()
count = 0
for word in text_list:
    if word == 'the':
        count += 1
count

6

#### 3. Unit 24 심사문제 - 2

In [12]:
price = list(map(int, input('입력').split(';')))
price

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [13]:
sorted_price = sorted(price, reverse=True)
sorted_price

[1304000, 367500, 250000, 158000, 128500, 83000, 59200, 51900]

In [15]:
for price in sorted_price:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

#### 4. Unit 12 심사문제

In [57]:
# 0526 시도
key = input('키 입력').split()
value = map(float, input('값 입력').split())

char = dict(zip(key, value))
char

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [58]:
key2 = input('키 입력').split()
value2 = map(float, input('값 입력').split())

char2 = dict(zip(key2, value2))
char2

{'health': 573.6,
 'mana': 308.8,
 'melee': 600.0,
 'attack_speed': 0.625,
 'magic_resistance': 35.7}

#### 5. Unit 25 심사문제

In [16]:
keys = input('키 입력').split()
values = map(int, input('값 입력').split())

x = dict(zip(keys, values))
x

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [17]:
del x['delta']
x

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [18]:
for key, value in x.items():
    if value == 30:
        break
del x[key]
x

{'alpha': 10, 'bravo': 20}

In [33]:
keys2 = input('키 입력').split()
values2 = map(int, input('값 입력').split())

z = dict(zip(keys2, values2))
z

{'alpha': 30,
 'bravo': 40,
 'charlie': 50,
 'delta': 60,
 'echo': 70,
 'foxtrot': 80,
 'golf': 90}

In [34]:
del z['delta']
z

{'alpha': 30,
 'bravo': 40,
 'charlie': 50,
 'echo': 70,
 'foxtrot': 80,
 'golf': 90}

In [35]:
for key, value in z.items():
    if value == 30:
        break
del z[key]
z

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}